<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.williamsang.mentalarithmetic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.williamsang.mentalarithmetic.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.williamsang.mentalarithmetic.OperatorSelectorActivity"
            android:label="@string/title_activity_operator_selector"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.williamsang.mentalarithmetic.MathActivity" />
        <activity android:name="com.williamsang.mentalarithmetic.ScoreActivity"></activity>
    </application>
</manifest>